/datasets
.env
.DS_Store
*.npy
property_embeddings.npy
entity_embeddings.npy
entity_embeddings.npy
property_embeddings.npy
/results/subgraphs
/results/subgraphs
/results/sparql_generation
/results
entity_embeddings.npy
property_embeddings.npy
