# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
# created-by: conda 25.1.1
dotenv==0.9.9
google-auth==2.40.3
google-genai==1.37.0
huggingface-hub==0.35.0
matplotlib==3.10.6
matplotlib-inline==0.1.7
networkx==3.5
nltk==3.9.2
numpy==2.3.3
pandas==2.3.2
rdflib==7.1.4
regex==2025.9.1
requests==2.32.5
rouge==1.0.1
rsa==4.9.1
safetensors==0.6.2
scikit-learn==1.7.2
scipy==1.16.2
sentence-transformers==5.1.0
setuptools==78.1.1
torch==2.8.0
tornado==6.5.2
tqdm==4.67.1
transformers==4.56.1
