# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
# created-by: conda 25.1.1
dotenv
google-auth
google-genai
huggingface-hub
matplotlib
matplotlib-inline
networkx
nltk
numpy
pandas
rdflib
regex
requests
rouge
rsa
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
torch
tornado
tqdm
transformers
